*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{

font-family: 'Poppins', sans-serif;
font-family: 'Red Hat Display', sans-serif;

color: rgba(139,69,19);

background: rgb(253,187,45);
background: linear-gradient(180deg, rgba(253,187,45,1) 0%, rgba(255,255,255,1) 100%);

}

nav{
  display: flex;
  justify-content:space-between ;
  background-color: rgb(248, 248, 248);
  height:15vh ;


}
nav a{
  max-width: 100%;
color: #8B4513;
  text-decoration:none;
  position: relative;
  top: 5vh;
}
nav a img {
  max-width: 10vh;
  position: relative;
  bottom: 5vh;
}
 nav a:hover{
  background-color: rgb(255, 135, 55);
  max-height: 50%;

 }

.banner .banner{
width: 100%;
}


.editorial {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;

  position:relative;
  bottom: 5vh;
  left:0px;
  float:left;
}

.parallax1 > use {
  animation: move-forever1 10s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax3 > use {
  animation: move-forever3 6s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax4 > use {
  animation: move-forever4 4s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}


.profile_text{
background-color: whitesmoke;
max-width: 50%;
margin-left: 40vw;
position: relative;
bottom: 30vh;

}
.profile{  max-width: 100%;
  height: auto;}
.card_photo .profile{


  background: linear-gradient(brown, orange) padding-box,
  linear-gradient(to right,brown, orange) border-box;
border-radius: 100%;
border: 4px solid transparent;-webkit-box-shadow: 13px 10px 55px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 10px 55px -7px rgba(0,0,0,0.75);
box-shadow: 13px 10px 55px -7px rgba(0,0,0,0.75);

}
.card_profile{
background-color: whitesmoke;
border: 4px solid transparent;-webkit-box-shadow: 13px 10px 55px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 10px 55px -7px rgba(0,0,0,0.75);
box-shadow: 13px 10px 55px -7px rgba(0,0,0,0.75);

}
.profile{
max-width: 200vw;
max-height: 100vh;




}

.card_photo{
margin-right:15vw;
margin-left:15vw;
}


h1{
margin-right:38vw;
margin-left:38vw;
}

.parent {
display: grid;
grid-template-columns: repeat(3);
grid-template-rows: repeat(3,);
grid-column-gap: 1px;
grid-row-gap: 1px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 3 / 2 / 4; }
.div3 { grid-area: 1 / 5 / 2 / 6; }
.div4 { grid-area: 3 / 1 / 4 / 2; }
.div5 { grid-area: 3 / 3 / 4 / 4; }
.div6 { grid-area: 3 / 5 / 4 / 6; }



.div1, .div2, .div3, .div4, .div5, .div6{

background-color:whitesmoke;
height: 50vh;

width:30vw ;
border-radius: 1%;
-webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
-moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);

} 

.psicoterapia{
background-color:whitesmoke;
height: 50vh;
margin-left: 15vw;
margin-right: 15vw;
width:70vw ;
border-radius: 1%;
-webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
-moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
}
.plantao{
  background-color:whitesmoke;
height: 50vh;
margin-left: 15vw;
margin-right: 15vw;
width:70vw ;
border-radius: 1%;
-webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
-moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
}
.redes{
  background-color:whitesmoke;
  height: 50vh;
  margin-left: 15vw;
  margin-right: 15vw;
  width:70vw ;
  border-radius: 1%;
  -webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
  -moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
  box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
}

.footer {
width: 100%;
position: relative;
height: auto;
background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(253,187,45,1) 100%);
}
.footer .col {
width: 190px;
height: auto;
float: left;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
padding: 0px 20px 20px 20px;
}
.footer .col h1 {
margin: 0;
padding: 0;
font-family: inherit;
font-size: 12px;
line-height: 17px;
padding: 20px 0px 5px 0px;
color: rgba(255,255,255,0.2);
font-weight: normal;
text-transform: uppercase;
letter-spacing: 0.250em;
}
.footer .col ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.footer .col ul li {
color: rgba(139,69,19);
font-size: 14px;
font-family: inherit;
font-weight: bold;
padding: 5px 0px 5px 0px;
cursor: pointer;
transition: .2s;
-webkit-transition: .2s;
-moz-transition: .2s;
}
.social ul li {
display: inline-block;
padding-right: 5px !important;
}

.footer .col ul li:hover {
color: #ffffff;
transition: .1s;
-webkit-transition: .1s;
-moz-transition: .1s;
}
.clearfix {
clear: both;
}
@media only screen and (min-width: 1280px) {
.contain {
  width: 1200px;
  margin: 0 auto;
}
}
@media only screen and (max-width: 1139px) {
.contain .social {
  width: 1000px;
  display: block;
}
.social h1 {
  margin: 0px;
}
}
@media only screen and (max-width: 950px) {
.footer .col {
  width: 33%;
}
.footer .col h1 {
  font-size: 14px;
}
.footer .col ul li {
  font-size: 13px;
}
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
.footer .col {
  width: 100%;
}
}