* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Red Hat Display', sans-serif;
  color: rgba(139, 69, 19);
  background: rgb(253, 187, 45);
  background: linear-gradient(180deg, rgba(253, 187, 45, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
/* Important styles */
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: relative;
  color: #999;
  width: 200px;
  padding: 10px;
  margin: auto;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}
#menu:after {
  position: absolute;
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
li a:hover,
li a:focus {
  background: #1ABC9C;
  color: #fff;
}


/* demo styles */

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(248, 248, 248);
  height: 15vh;
  max-width: 100%;
  max-height: 100%;
}

nav a {
  max-height: 100%;
  max-width: 100%;
  color: #8B4513;
  text-decoration: none;
  position: relative;
  top: 5vh;
}

nav a img {
  max-width: 10vh;
  position: relative;
  bottom: 5vh;
}

nav a:hover {
  background-color: rgb(255, 135, 55);
  max-height: 50%;
}

.banner .banner {
  width: 100%;
}

.editorial {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  position: relative;
  bottom: 5vh;
  left: 0px;
  float: left;
}

.parallax1 > use {
  animation: move-forever1 10s linear infinite;
}
.parallax1 > use:nth-child(1) {
  animation-delay: -2s;
}

.parallax2 > use {
  animation: move-forever2 8s linear infinite;
}
.parallax2 > use:nth-child(1) {
  animation-delay: -2s;
}

.parallax3 > use {
  animation: move-forever3 6s linear infinite;
}
.parallax3 > use:nth-child(1) {
  animation-delay: -2s;
}

.parallax4 > use {
  animation: move-forever4 4s linear infinite;
}
.parallax4 > use:nth-child(1) {
  animation-delay: -2s;
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

.apresentacao{
  max-width: 100%;
  max-height: 100%;

  
}
.profile_text {
  margin-top: 10vh;
  background-color: whitesmoke;
  max-height: 100%;
  max-width: 100%;
  margin-left: 40vw;
  position: relative;
  bottom: 30vh;
}
.profile{
max-width: 100%;
}
.card_photo{
  position: relative;
margin-left: 1vw;

}
.card_photo .profile{
max-width: 100%;
max-height: 100%;

  background: linear-gradient(brown, orange) padding-box,
  linear-gradient(to right,brown, orange) border-box;
border-radius: 100%;
border: 4px solid transparent;-webkit-box-shadow: 13px 10px 55px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 10px 55px -7px rgba(0,0,0,0.75);
box-shadow: 13px 10px 55px -7px rgba(0,0,0,0.75);

}
.card_profile{
background-color: whitesmoke;
border: 4px solid transparent;-webkit-box-shadow: 13px 10px 55px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 10px 55px -7px rgba(0,0,0,0.75);
box-shadow: 13px 10px 55px -7px rgba(0,0,0,0.75);

}
.card_photo{
max-width: 40%;
max-height: 40%;

margin-left: 4vw;
margin-right: 4vw;


}
.container-img{
background-image: url('./img/banner.jpeg');
background-size: cover;
background-repeat: no-repeat;
height: 45%;

}

.parent{
  padding: 10px ;
}

.psi_img{
  background-image: url('./img/quem-sou-eu.jpg');
  background-repeat:no-repeat;
  background-size: cover;

height: 100%;
width: 50%;
}
.psi_text{
max-height: 5vh;
  max-width: 50%;
margin-left: 50%;
position: relative;
bottom:45vh;
}
.btn_agendar{
  height: 10vh;
  width: 30vw;
  border-radius: 10px;
}
h1{
  margin-right:38vw;
  margin-left:38vw;
  font-weight: 500;
}

.parent {
display: grid;
grid-template-columns: repeat(3);
grid-template-rows: repeat(3,);
grid-column-gap: 1px;
grid-row-gap: 1px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 3 / span 1 / span 1; }
.div3 { grid-area: 1 / 5 / 2 / 6; }
.div4 { grid-area: 3 / 1 / 4 / 2; }
.div5 { grid-area: 3 / 3 / 4 / 4; }
.div6 { grid-area: 3 / 5 / 4 / 6; }



.div1, .div2, .div3, .div4, .div5, .div6{

background-color:whitesmoke;
height: 50vh;

width:30vw ;
border-radius: 1%;
-webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
-moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);

} 

.psicoterapia{
background-color:whitesmoke;
height: 50vh;
margin-left: 15vw;
margin-right: 15vw;
width:70vw ;
border-radius: 1%;
-webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
-moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
}
.plantao{
  background-color:whitesmoke;
height: 50vh;
margin-left: 15vw;
margin-right: 15vw;
width:70vw ;
border-radius: 1%;
-webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
-moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
}



.redes{
  background-color:whitesmoke;
  height: 50vh;
  margin-left: 15vw;
  margin-right: 15vw;
  width:70vw ;
  border-radius: 1%;
  -webkit-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
  -moz-box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
  box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.57);
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.footer {
width: 100%;
position: relative;
height: auto;
background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(253,187,45,1) 100%);
}
.footer .col {
width: 190px;
height: auto;
float: left;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
padding: 0px 20px 20px 20px;
}
.footer .col h1 {
margin: 0;
padding: 0;
font-family: inherit;
font-size: 12px;
line-height: 17px;
padding: 20px 0px 5px 0px;
color: rgba(255,255,255,0.2);
font-weight: normal;
text-transform: uppercase;
letter-spacing: 0.250em;
}
.footer .col ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.footer .col ul li {
color: rgba(139,69,19);
font-size: 14px;
font-family: inherit;
font-weight: bold;
padding: 5px 0px 5px 0px;
cursor: pointer;
transition: .2s;
-webkit-transition: .2s;
-moz-transition: .2s;
}
.social ul li {
display: inline-block;
padding-right: 5px !important;
}

.footer .col ul li:hover {
color: #ffffff;
transition: .1s;
-webkit-transition: .1s;
-moz-transition: .1s;
}
.clearfix {
clear: both;
}
@media only screen and (min-width: 1280px) {
.contain {
  width: 1200px;
  margin: 0 auto;
}
}
@media only screen and (max-width: 1139px) {
.contain .social {
  width: 1000px;
  display: block;
}
.social h1 {
  margin: 0px;
}
}
@media only screen and (max-width: 950px) {
.footer .col {
  width: 33%;
}
.footer .col h1 {
  font-size: 14px;
}
.footer .col ul li {
  font-size: 13px;
}
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
.footer .col {
  width: 100%;
}
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ff9500 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ff9500;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }